# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
venv/
*.egg-info/

# Images or datasets
*.jpg
*.png
*.csv
*.npz

# Saved models
saved_models/u2netp/u2netp.pth

.DS_Store